<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    

    <div id="id1">
        <h4>Free Shipping on all intl. orders over $50 </h4>
        <h4>Free Shipping on all intl. orders over $50 </h4>
        <h4>Free Shipping on all intl. orders over $50 </h4>
        <h4>Free Shipping on all intl. orders over $50 </h4>
        <h4>Free Shipping on all intl. orders over $50 </h4>
    </div>

    <div id="nav">

        <a href="#" id="nav1">Ryst</a>


        <input type="text" placeholder="  Search Here" id="nav2">

        <i class="fa fa-shopping-cart" aria-hidden="true"></i>

        <input type="text" placeholder="  Login" id="nav3">

        <input type="text" placeholder="  Menu" id="nav3">
    </div>


    <div id="container">
        <h1>Set-Up Your Stride<h1>

    <div id="c1">
        <h5>Sales</h5>
        <pre>
            MARATHON
            MASTER
        </pre>
        <img src="shoes1.jpeg" alt="">

        <pre>
            MARATHON
            MASTER
        </pre>
    </div>

    </div>



    
    
</body>
</html>